/* contactus.css */

#contactinfo {
    width: 100%;
    margin: auto;
    padding-top: 30px;
    /* padding-left: 30px; */
    background-color: #fff;
}

#contactinfo h1{
    text-align: center;
    color: #314359;
}

.contact-us {
    width: 100%;
    margin: auto;
    display: flex;
}

.contact-leftcol {
    width: 30%;
    align-items: center;
    justify-content: center;
    padding: 80px;
    color: #555;
}

.contact-leftcol h3{
    color: #000;
}

.contact-rightcol {
    width: 50%;
    align-items: center;
    justify-content: center;
    padding: 50px;
    text-align: center;
}

.contact-leftcol div {
    display: flex;
    align-items: center;
    margin: 20px;
}

.contact-leftcol div {
    display: flex;
    align-items: center;
}


.contact-rightcol input, .contact-rightcol textarea {
    width: 90%;
    padding: 15px;
    margin-bottom: 13px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 12px;
    color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    resize: none;
}

.icons{
    color: #314359;
    padding: 10px;
    background-color: #d6ba71;
    border-radius: 50px;
    margin-right: 10px;
}

.contact-social ul {
    list-style: none;
    padding: 0;
  }
  
.contact-social-icons li{
    margin-right: 10px;
}

.contact-social-icons li a{
    color: #fff;
    font-size: 24px;
}

.contactInfo{
    padding: 10px;
}


.feedback-btn {
  padding: 8px 16px;
  border: none;
  border-radius: 50px;
  background-color: #d6ba71;
  color: #314359;
  font-size: 16px;
}

.feedback-btn:hover {
  transform: scale(1.05,1.05);
  cursor: pointer;
}

/* Media query for small screens (max-width: 768px) */
@media screen and (max-width: 768px) {
    #contactinfo {
      padding-top: 20px; /* Adjust top padding for smaller screens */
    }
  
    .contact-us {
      flex-direction: column; /* Stack columns on small screens */
    }

    .contact-us h3{
        text-align: left;
    }

    .contact-us p{
      /* font-size: 0.75em; */
  }

  #contactinfo p{
    /* text-align: center; */
    /* color: #314359; */
  }
  
    .contact-leftcol, .contact-rightcol {
      width: 85%; /* Take full width on smaller screens */
      padding: 20px; /* Adjust padding */
      text-align: center;
    }
  
    .contact-rightcol input,
    .contact-rightcol textarea {
      width: 100%; /* Take full width for input fields */
      margin-bottom: 10px; /* Adjust margin */
    }
  
    .feedback-btn {
      padding: 10px 16px; /* Adjust button padding */
      font-size: 14px; /* Adjust font size */
    }
  }