/* Footer.css */

/* Footer container */
.footer {
    background-color: #314359;
    color: #fff;
    padding: 40px 0;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Footer sections */
  .footer-section {
    flex: 1;
    margin-right: 30px;
  }
  
  .footer-section h4 {
    margin-bottom: 15px;
    font-size: 18px;
  }
  
  .footer-section p {
    margin-bottom: 10px;
  }

  .footer-section a{
    text-decoration: none;
    color: inherit;
  }

  .footer-section a:hover{
    color: #aec6cf;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 8px;
  }
  
  .footer-section ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Social icons */
  .social-icons {
    display: flex;
    padding: 0;
  }
  
  .social-icons li {
    margin-right: 10px;
  }
  
  .social-icons li a {
    color: #fff;
    font-size: 24px;
  }
  
  /* Footer bottom */
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
  }
  
  .footer-bottom p {
    margin: 0;
  }
  
  /* Media query for small screens (max-width: 768px) */
@media screen and (max-width: 768px) {
  .footer-container {
    flex-direction: column; /* Stack sections vertically on smaller screens */
    align-items: center; /* Center content on smaller screens */
  }

  .footer-section {
    flex: none; /* Remove flexible sizing for sections */
    width: 100%; /* Make sections take full width on smaller screens */
    margin: 0 0 20px 0; /* Adjust margin for sections */
    text-align: center; /* Center text in sections */
  }

    /* Social icons */
    .social-icons {
      justify-content: center;
    }

  /* Additional styles or adjustments for smaller screens as needed */
}