/* Homepage.css */

#homepage{
    background-image: url(/assets/livingroomtv.jpg), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    /* height: 90vh; */
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
};

/* Adjustments for responsiveness */
@media screen and (max-width: 768px) {
    #homepage {
        padding: 20px; /* Add padding for smaller screens */
    }
}