/* navbar.css */

/* Reset some default styles */
body {
  margin: 0;
  padding: 0;
}

/* Apply styles to the header */
.navbarHeader {
  /* background-color: #5B3726 ; */
  background-color: #314359;
  color: #aec6cf;
  /* color: #A8D3E2; */
  padding: 30px 0;
  min-height: 40px;

  /* position: sticky; */
  /* top: 0; */
  /* Stick to the top of the viewport */
  z-index: 100;
}

/* Transperent scroll */

/* .navbarHeader {
    background-color: transparent;
    transition: background-color 0.3s ease;
  } */

/* Opaque navbar on scroll */
/* .navbarHeader.opaque {
    background-color: #A8D3E2;
  } */

/* Transparent navbar before scroll */
/* .navbarHeader.transparent {
    background-color: transparent;
  } */

/* Center the navigation content */
.navbarMain {
  /* max-width: 100%; */
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

/* Center the logo or brand name */
.navbarLogo {
  font-size: 2em;
  padding: 0;
  /* margin: 0 auto; Center the nav element */
}

/* Style the navigation links */
.navbaList {
  float: right;
  list-style: none;
  display: flex;
  align-items: center;
}

.navbaList li {
  padding: 0 15px;
}

.navbaList a {
  text-decoration: none;
  /* color: #2c1f31; */
  color: #aec6cf;
  /* font-size: 1.1em; */
  transition: color 0.3s ease-in-out;
}

/* Change link color on hover */
/*.navbaList*/
a:hover {
  color: #d6ba71;
  cursor: pointer;
}

.btn {
  padding: 8px 16px;
  border: none;
  border-radius: 50px;
  background-color: #d6ba71;
  color: #314359;
}

.btn:hover {
  transform: scale(1.05, 1.05);
  /* transition: 0.2s; */
  cursor: pointer;
}

.checkBtn{
  /* font-size: 30px; */
  float: right;
  /* margin-right: 40px; */
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}

/* Media query for small screens (max-width: 768px) */
@media screen and (max-width: 880px) {
  .navbarMain {
    flex-direction: column; /* Stack navigation content vertically */
    /* align-items: center; */
  }

  .navbarLogo {
    display: flex;
    margin-bottom: 0px; /* Add space below the logo */
    text-align: center;
    justify-content: space-between;

  }

  .navbaList {
    position: fixed;
    flex-direction: column; /* Stack navigation links vertically */
    align-items: center; 
    top: 8%;
    background-color: #314359;
    border-radius: 20px 0px 0px 20px;
    padding: 20px;
    transition: all 0.5s;
  }

  .navbaList li {
    margin: 10px 0; /* Add space between links */
  }
  .checkBtn{
    display: block;
    margin-left: 0px;
  }

}