/* @font-face {
  font-family: myFirstFont;
  src: url(sansation_light.woff);
}

div {
  font-family: myFirstFont;
} */

*{
  padding: 0;
  margin: 0;
  font-family: "Alef", sans-serif;
  /* font-weight: bold; */
}

  /* Body */
  /* .content{
    padding: 100px;
    background-color: #2c1f31;
    margin: 10px;
  } */

