/* index.css */

/* @font-face {
  font-family: myFirstFont;
  src: url(sansation_light.woff);
}

div {
  font-family: myFirstFont;
} */

* {
  padding: 0;
  margin: 0;
  font-family: "Alef", sans-serif;
  /* font-weight: bold; */
}

body {
  background-image: url(src/assets/kitchen.jpg), linear-gradient(rgba(255, 255, 255, 0.75),rgba(255, 255, 255, 0.75));
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* .background{
  background-image: url(src/assets/canteen.jpg);
  position: absolute;
  z-index: 200;
  position: sticky;
} */

/* Body */
.content{
  /* padding: 40px; */
  padding: 4%;
  background-color: #ffffff;
  /* margin: 10px; */
}

.content1{
  /* padding: 40px; */
  background-color: #ffffff;
}

::-webkit-scrollbar{
  width: 0.5em;
}

::-webkit-scrollbar-track{
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  margin-block: 0.5em;
}

::-webkit-scrollbar-thumb{
  background-color: rgb(165, 165, 165);
  border-radius: 50px;
}

/* Example of media query for responsiveness */
@media screen and (max-width: 768px) {
  .content {
    padding: 10px; /* Adjust padding for smaller screens */
    /* Additional styles for smaller screens */
  }
}